@font-face {
        font-family: Cambria Math;
}
@font-face {
        font-family: Segoe UI;
}
@page WordSection1 {size: 8.5in 11.0in; margin: 1.0in 1.0in 1.0in 1.0in; }
:unknown {
        COLOR: #000000
}
:unknown {
        COLOR: #000000; opacity: 1
}
:unknown {
        COLOR: #000000; opacity: 1
}
:unknown {
        COLOR: #000000
}
:unknown {
        COLOR: #000000
}
TABLE {
        WIDTH: 100%
}
P.MsoNormal {
        FONT-SIZE: 11pt; FONT-FAMILY: "Calibri",sans-serif; MARGIN: 0in 0in 8pt; LINE-HEIGHT: 107%
}
LI.MsoNormal {
        FONT-SIZE: 11pt; FONT-FAMILY: "Calibri",sans-serif; MARGIN: 0in 0in 8pt; LINE-HEIGHT: 107%
}
DIV.MsoNormal {
        FONT-SIZE: 11pt; FONT-FAMILY: "Calibri",sans-serif; MARGIN: 0in 0in 8pt; LINE-HEIGHT: 107%
}
.MsoChpDefault {
        FONT-FAMILY: "Calibri",sans-serif
}
.MsoPapDefault {
        MARGIN-BOTTOM: 8pt; LINE-HEIGHT: 107%
}
DIV.WordSection1 {
        page: WordSection1
}
.field_input {
        WIDTH: 213px; MARGIN: 1px; DISPLAY: inline-block
}
.field_label {
        MAX-WIDTH: 350px; VERTICAL-ALIGN: middle; MIN-WIDTH: 160px; DISPLAY: inline-block
}
.field_box {
        VERTICAL-ALIGN: middle; MARGIN-TOP: 2px; DISPLAY: inline-block; MARGIN-RIGHT: 24px
}
INPUT {
        WIDTH: 227px
}
SELECT {
        WIDTH: 227px
}
INPUT[type=checkbox] {
        WIDTH: 50%
}
INPUT[type=radio] {
        WIDTH: 50%
}
.field_row {
        
}
HR {
        CLEAR: both
}
.topnav .icon {
        DISPLAY: none
}

@media Unknown    
{
UNKNOWN {
        DISPLAY: none
}
.topnav A.icon {
        FLOAT: right; DISPLAY: block
}
#myTopnav {
        WIDTH: 70px
}
#Seperator {
        DISPLAY: none
}
.responsive {
        POSITION: relative
}
.responsive .icon {
        RIGHT: 10px; POSITION: absolute; TOP: 5px
}
.responsive A {
        FLOAT: none; TEXT-ALIGN: right; DISPLAY: block
}
    }
IMG {
        MARGIN: 0px
}

@media Unknown    
{
.container {
        MARGIN: 0px 0.2em
}
TR {
        FONT-SIZE: 12px !important; TEXT-ALIGN: center
}
TD {
        FONT-SIZE: 12px !important; TEXT-ALIGN: center
}
TD SPAN {
        FONT-SIZE: 12px !important; TEXT-ALIGN: center
}
TD P {
        FONT-SIZE: 12px !important; TEXT-ALIGN: center
}
P {
        FONT-SIZE: 12px !important
}
P SPAN {
        FONT-SIZE: 12px !important
}
P FONT STRONG {
        FONT-SIZE: 18px !important
}
BUTTON {
        FONT-SIZE: 14px; HEIGHT: 30px; WIDTH: 100%; FONT-WEIGHT: bold
}
HTML INPUT[type=button] {
        FONT-SIZE: 14px; HEIGHT: 30px; WIDTH: 100%; FONT-WEIGHT: bold
}
INPUT[type=reset] {
        FONT-SIZE: 14px; HEIGHT: 30px; WIDTH: 100%; FONT-WEIGHT: bold
}
INPUT[type=submit] {
        FONT-SIZE: 14px; HEIGHT: 30px; WIDTH: 100%; FONT-WEIGHT: bold
}
LABEL {
        FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; WIDTH: 100%; MARGIN-TOP: 5px; FONT-WEIGHT: 700; DISPLAY: block
}
.field_input {
        HEIGHT: 30px; WIDTH: 100% !important; DISPLAY: block
}
.field_input INPUT {
        HEIGHT: 30px; WIDTH: 100% !important; DISPLAY: block
}
.field_input SELECT {
        HEIGHT: 30px; WIDTH: auto !important; DISPLAY: block
}
.field_label {
        MAX-WIDTH: 350px; VERTICAL-ALIGN: middle; MIN-WIDTH: 160px; DISPLAY: inline-block
}
.field_box {
        VERTICAL-ALIGN: middle; MARGIN-TOP: 5px; DISPLAY: block; MARGIN-RIGHT: 0px
}
    }
#myTopnav {
        FONT-SIZE: 8pt; MAX-WIDTH: 270px; FONT-FAMILY: Arial; FLOAT: right; FONT-WEIGHT: bold; PADDING-TOP: 11px; PADDING-RIGHT: 8px
}
.container {
        PADDING-LEFT: 15px; MARGIN-LEFT: auto; PADDING-RIGHT: 15px; MARGIN-RIGHT: auto
}

@media Unknown    
{
.container {
        WIDTH: 750px
}
.container {
        WIDTH: 970px
}
.container {
        WIDTH: 1170px
}
    }
.container-fluid {
        PADDING-LEFT: 15px; MARGIN-LEFT: auto; PADDING-RIGHT: 15px; MARGIN-RIGHT: auto
}
.container-fluid > .navbar-collapse {
        MARGIN-LEFT: -15px; MARGIN-RIGHT: -15px
}
.container-fluid > .navbar-header {
        MARGIN-LEFT: -15px; MARGIN-RIGHT: -15px
}
.container > .navbar-collapse {
        MARGIN-LEFT: -15px; MARGIN-RIGHT: -15px
}
.container > .navbar-header {
        MARGIN-LEFT: -15px; MARGIN-RIGHT: -15px
}

@media Unknown    
{
.container-fluid > .navbar-collapse {
        MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.container-fluid > .navbar-header {
        MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.container > .navbar-collapse {
        MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.container > .navbar-header {
        MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.navbar > .container .navbar-brand {
        MARGIN-LEFT: -15px
}
.navbar > .container-fluid .navbar-brand {
        MARGIN-LEFT: -15px
}
    }
.topnav {
        OVERFLOW: hidden
}
.topnav A:hover {
        COLOR: black; BACKGROUND-COLOR: #ddd
}
.topnav .icon {
        DISPLAY: none
}
.topnav A {
        PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}

@media Unknown    
{
.responsive {
        WIDTH: 80px; BACKGROUND: #222; POSITION: relative; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
UNKNOWN {
        DISPLAY: none
}
.topnav A.icon {
        FLOAT: right; DISPLAY: block
}
#Seperator {
        DISPLAY: none
}
.responsive {
        POSITION: relative
}
.responsive .icon {
        RIGHT: 0px; POSITION: absolute; Z-INDEX: 100; TOP: 0px
}
.responsive A {
        TEXT-DECORATION: none; FLOAT: none; COLOR: #fff; TEXT-ALIGN: left; Z-INDEX: 100; DISPLAY: block
}
HR {
        CLEAR: both; DISPLAY: none
}
UNKNOWN {
        DISPLAY: none
}
.topnav A.icon {
        FLOAT: right; DISPLAY: block
}
#Seperator {
        DISPLAY: none
}
.responsive {
        POSITION: relative
}
.responsive .icon {
        RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.responsive A {
        FLOAT: none; TEXT-ALIGN: left; DISPLAY: block
}
.container {
        PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
    }
.container {
        MARGIN: 0px 0.2em
}

@media Unknown    
{
.container {
        PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN-LEFT: -6px !important; PADDING-RIGHT: 0px !important
}
TABLE {
        WIDTH: 100% !important
}
TR {
        FONT-SIZE: 9px !important; TEXT-ALIGN: center !important
}
TD {
        FONT-SIZE: 9px !important; TEXT-ALIGN: center !important
}
TD SPAN {
        FONT-SIZE: 9px !important; TEXT-ALIGN: center !important
}
TD P {
        FONT-SIZE: 9px !important; TEXT-ALIGN: center !important
}
TD STRONG FONT {
        FONT-SIZE: 9px !important; TEXT-ALIGN: center !important
}
P {
        FONT-SIZE: 9px !important
}
P SPAN {
        FONT-SIZE: 9px !important
}
P FONT STRONG {
        FONT-SIZE: 18px !important
}
BUTTON {
        FONT-SIZE: 14px !important; HEIGHT: 30px !important; WIDTH: 100% !important; FONT-WEIGHT: bold !important
}
HTML INPUT[type=button] {
        FONT-SIZE: 14px !important; HEIGHT: 30px !important; WIDTH: 100% !important; FONT-WEIGHT: bold !important
}
INPUT[type=reset] {
        FONT-SIZE: 14px !important; HEIGHT: 30px !important; WIDTH: 100% !important; FONT-WEIGHT: bold !important
}
INPUT[type=submit] {
        FONT-SIZE: 14px !important; HEIGHT: 30px !important; WIDTH: 100% !important; FONT-WEIGHT: bold !important
}
LABEL {
        FONT-SIZE: 14px !important; MARGIN-BOTTOM: 5px !important; WIDTH: 100% !important; MARGIN-TOP: 5px !important; FONT-WEIGHT: 700 !important; DISPLAY: block !important
}
.field_input {
        HEIGHT: 30px; WIDTH: 100% !important; DISPLAY: block
}
.field_input INPUT {
        HEIGHT: 30px; WIDTH: 100% !important; DISPLAY: block
}
.field_input SELECT {
        HEIGHT: 30px; WIDTH: auto !important; DISPLAY: block
}
.field_label {
        MAX-WIDTH: 350px; VERTICAL-ALIGN: middle; MIN-WIDTH: 160px; DISPLAY: inline-block
}
.field_box {
        VERTICAL-ALIGN: middle; MARGIN-TOP: 5px; DISPLAY: block; MARGIN-RIGHT: 0px
}
UNKNOWN {
        DISPLAY: none
}
.topnav A.icon {
        FONT-SIZE: 20px !important; FLOAT: right; DISPLAY: block
}
#Seperator {
        DISPLAY: none
}
    }
.icon {
        TEXT-DECORATION: none !important
}

@media Unknown    
{
.responsive {
        POSITION: relative
}
.responsive .icon {
        RIGHT: 0px; POSITION: absolute; Z-INDEX: 100; TOP: 0px
}
.responsive A {
        FLOAT: none; TEXT-ALIGN: left; Z-INDEX: 100; DISPLAY: block
}
.responsive {
        WIDTH: 100px; BACKGROUND: #222; POSITION: relative; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.responsive A {
        TEXT-DECORATION: none; FLOAT: none; COLOR: white; TEXT-ALIGN: left; DISPLAY: block
}
HR {
        CLEAR: both; DISPLAY: none
}
.container {
        CLEAR: both
}
}
.field_input > label {
        font-family: "arial";
}
* {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html {
        font-size: 62.5%;
        font-family: sans-serif;
}
body {
        background-color: #f8f8f8;
        font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
        font-size: 11pt;
        line-height: 1.428571429;
        color: #444;
        padding-bottom: 50px;
        min-width: 320px;
        margin: 0;
}
.body-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
}
div.delayed-component-content {
        padding-bottom: 15px; padding-left: 15px; margin: 0px auto; display: block; padding-right: 15px; box-shadow: 0 0 85px #b2b2b2; -webkit-box-shadow: 0 0 85px #b2b2b2; -moz-box-shadow: 0 0 85px #b2b2b2;
}
div.main-form {
        max-width: 1000px !important; background-color: #fcfcfc;
}
.brand-header {
        margin-bottom: 15px;
        margin-left: -15px;
        margin-right: -15px;
        max-width: initial !important;
}
.brand-header-bg {
        background-color: #fcfcfc;
}
.center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.img-responsive {
        max-width: 1000px;
        height: auto;
}
img {
        vertical-align: middle;
        border: 0;
}
.theme-progress {
        margin: -15px -15px 15px -15px; border-radius: 0px; background-image: none;
}
.background-opacity {
        background-color: #bbc8d8;
}
.progress {
        overflow: hidden; height: 15pt; background-repeat: repeat-x; box-shadow: inset 0 1px 2px #e5e5e5;
}
.progress-bar {
        background-image: linear-gradient(to bottom,#1f497d 0%,#153154 100%); background-repeat: repeat-x;float: left; height: 100%; font-size: 10pt; line-height: 15pt; color: #fff; text-align: center; background-color: #1f497d; -webkit-box-shadow: inset 0 -1px 0 #d8d8d8; box-shadow: inset 0 -1px 0 #d8d8d8; -webkit-transition: width 0.6s ease;
transition: width 0.6s ease;
}
.theme-panel {
    content: "";
    display: block;
    padding: 2% 5%;
    margin-bottom: 3%;
    box-shadow: inset 0 -5px 0 0 #1f497d,-2px -2px 20px 0 #f2f2f2,2px 2px 20px 0 #f2f2f2;
}

.text-left {
        text-align: left;
}
.h3 {
        font-size: 14pt;
        font-family: arial,'helvetica neue',helvetica,sans-serif;
        color: #1f497d;
        margin-top: 15pt;
        margin-bottom: 7.5pt;
        font-weight: 500;
        line-height: 1.1;
}
.bottom-padding-10 {
        padding-bottom: 10px;
}
.row::after {
        clear: both;
}
.row::before, .row::after {
        display: table;
        content: " ";
}
.row {
        margin-left: -15px; 
        margin-right: -15px;
}
::before {
        box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
::after {
        box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.form-horizontal .form-group {
        margin-left: 0px;
        margin-right: -15px;
}
div.form-group {
        margin-bottom: 0px !important;
}
.form-group {
        position: relative;
}
.col-sm-6 {
        width: 50%; float: left;
}
.col-sm-6 {
        padding-left: 15px; min-height: 1px; padding-right: 15px;
}
.col-xs-12 {
        padding-left: 15px; min-height: 1px; padding-right: 15px;
}
.field-required-theme::before {
        font-size: 0.75em; font-family: 'fontawesome'; vertical-align: super; color: red; display: inline;
}
.theme-label-floating {
        position: absolute; font-weight: normal; padding-top: 15px; padding-left: 13px; z-index: 1; top: 0px; transition: all 0.2s ease-out;
}
label {
        margin-bottom: 5px; display: inline-block;
}
.field-required-theme::before {
    font-family: 'FontAwesome';
    content: '\f069 \ ';
    font-size: 0.5em;
    display: inline;
    color: red;
    vertical-align: super;
}
.has-feedback .form-control {
        padding-right: 36.25pt;
}
.form-control {
        display: block;
        width: 100%;
        padding: 6px 12px;
        padding-top: 6px;
        padding-right: 12px;
        padding-left: 12px;
        font-size: 11pt;
        line-height: 1.428571429;
        color: #444;
        background-color: #fff;
        background-image: none;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px #ebebeb;
        box-shadow: inset 0 1px 1px #ebebeb;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input, select {
        max-width: 350px; font-family: inherit; margin: 0px;
}
.theme-textbox.form-control{
        min-height:50px;
        border:1px solid #e2e2e2;
        padding-top:25px;
        transition:all 0.2s ease-out;
        border-radius:0px;
        padding-left:13px;
}
.theme-textbox .file-caption-name{
        margin-top:-10px;
        position:absolute;
}
/*
.theme-textbox:focus+.theme-label-floating,.field--not-empty+.theme-label-floating,.theme-select.select2-container:focus+.theme-label-floating,.init-group+.theme-label-floating,.twitter-typeahead+.theme-label-floating{
        font-size:80%;
        padding-top:7px;
        text-transform:uppercase;
}*/

.theme-label-floating-focus {
        font-size:80%;
        padding-top:7px;
        text-transform:uppercase;
}

.theme-textbox.form-control:focus{
        border-color:#1f497d;
        box-shadow:inset 0 1px 1px #ebebeb,0 0 8px #7891b1;
}

.select2-container {
        max-width: 350px;
}
select {
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        background-image: linear-gradient(45deg, transparent 50%, #999 50%), linear-gradient(135deg, #999 50%, transparent 50%), linear-gradient(to right, #fff, #fff) !important;
        background-position: calc(100% - 20px) calc(1.5em + 2px), calc(100% - 15px) calc(1.5em + 2px), 100% 50%;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;
}
.checkbox {
        min-height: 22pt;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 7px;
        display: block;
        padding-left: 20px;
}
.checkbox input[type="checkbox"] {
        float: left;
        width: inherit;
        height: inherit;
        margin: 4px 0 0 -20px;
        line-height: normal;
        box-sizing: border-box;
        padding: 0;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1000px;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.navbar-inside-page {
    border: none;
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#e6e6e6 0%,#ccc 100%);
    background-image: linear-gradient(to bottom,#e6e6e6 0%,#ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6',endColorstr='#ffcccccc',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
background-color: #ccc;
border-color: #b3b3b3;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 15pt;
    border: 1px solid transparent;
}
.theme-btn-primary.navbar-btn.pull-right {
    margin-left: 2px;
}
.theme-btn-primary {
    border-radius: 0px;
    min-width: 104px;
    min-height: 30px;
}
.btn-default {
    background-image: -webkit-linear-gradient(top,#1f497d 0%,#132c4c 100%);
    background-image: linear-gradient(to bottom,#1f497d 0%,#132c4c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f497d',endColorstr='#ff132c4c',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: #112844;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
color: #fff;
background-color: #1f497d;
}
.pull-right {
    float: right !important;
}
.navbar-btn {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 11pt;
line-height: 1.428571429;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
